{% extends 'base.html' %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <div class="row row-centered">
            <div class="col-12 mt-5 mx-auto">
                <a href="{% url 'mailing:create_client' %}" class="btn btn-outline-success">Создать клиента</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Комметарий</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ object.email }}</td>
                        <td>{{ object.full_name }}</td>
                        <td>{{ object.comment|truncatechars:15 }}</td>
                        <td><a href="{% url 'mailing:update_client' object.pk %}">Редактировать</a></td>
                        <td><a href="{% url 'mailing:delete_client' object.pk %}">Удалить</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
