{% extends 'base.html' %}
{% load users_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <div class="row row-centered">
            <div class="col-6 mt-5 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal text-center">Создание рассылки</h1>
                    {{ form.as_p }}
                    <button class="btn btn-primary w-100 py-2" type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
