{% extends 'base.html' %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <div class="row row-centered">
            <div class="col-4 mt-5 mx-auto">
                <form method="post">
                    <h1 class="h3 mb-3 fw-normal center">Регистрация</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword1" placeholder="Пароль">
                        <label for="floatingPassword1">Введите пароль</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword2" placeholder="Повторите пароль">
                        <label for="floatingPassword2">Подтвердите пароль</label>
                    </div>

                    <div class="form-check text-start my-3">
                        <label class="form-check-label">
                        </label>
                    </div>
                    <button class="btn btn-primary w-100 py-2" type="submit">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
