{% extends 'base.html' %}
{% load users_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <div class="row row-centered">
            <div class="col-4 mt-5 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal text-center">Установите новый пароль</h1>
                    <div class="form-floating">
                        {{ form.new_password1|add_id:'NewPassword1' }}
                        <label for="Password1">Введите пароль</label>
                    </div>
                    <div class="form-floating">
                        {{ form.new_password2|add_id:'NewPassword2' }}
                        <label for="NewPassword2">Подтвердите пароль</label>
                    </div>
                    {% if form.non_field_errors %}
                    <small>{{ form.non_field_errors }}</small>
                    {% else %}
                    <div class="form-check text-start my-3">
                        <label class="form-check-label">
                        </label>
                    </div>
                    {% endif %}
                    <button class="btn btn-primary w-100 py-2" type="submit">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}