{% extends 'base.html' %}
{% load users_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="container">
        <div class="row row-centered">
            <div class="col-4 mt-5 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal text-center">Регистрация</h1>
                    <div class="form-floating">
                        {{ form.email|add_id:'floatingInput' }}
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        {{ form.password1|add_id:'floatingPassword1' }}
                        <label for="floatingPassword1">Введите пароль</label>
                    </div>
                    <div class="form-floating">
                        {{ form.password2|add_id:'floatingPassword2' }}
                        <label for="floatingPassword2">Подтвердите пароль</label>
                    </div>
                    <div class="form-check text-start my-3">
                        <label class="form-check-label">
                        </label>
                    </div>
                    <button class="btn btn-primary w-100 py-2" type="submit">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
